</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p class="footer">Copyright Samantha Wang <%= new Date().getFullYear() %> ©, Contact At: yuhanwang-inaus@hotmail.com</p>
</footer>

<script src="/main.js" charset="utf-8"></script>
</body>

</html>