<%- include("partials/header.ejs") %>

<h1> Artical Collection </h1>

<a href="/newTopic" class="btn btn-dark">Create a new Topic</a>

<ul class="topicList">
    <% if (locals.curTopic){ %>
        <% curTopic.forEach((topic)=>{ %>
            <li>
                <a href= <%= "/" + topic.title.replace(/\s+/g, "") %>> <%= topic.title %> </a>
            </li>
        <% }) %>
    <% } %>
</ul>

<%- include("partials/footer.ejs") %>