<%- include("partials/header.ejs") %>

<h1> create new topic </h1>

<form action="/newTopic" method="POST">
  <input name="topic title" type="text" placeholder="enter your new topic name">
</form>

<%- include("partials/footer.ejs") %>